body {background-color:RGB(55,187,237)}

h1 {font-family:Encode Sans; color:white; width:97%; font-weight:bold }

#titulo {text-align:center}

h6 {font-family:Encode Sans; color:white; font-weight:bold; text-align:center}

h5 {font-family:Encode Sans; text-align:center}

.card, .main-svg, .ag-theme-alpine {border-radius: 10px; box-shadow: 10px 10px 3px 1px; border: 1px solid black}

#grafico {height:50px}

p.indicador {font-family:Encode Sans; color:black; text-align: center; font-weight:bold; font-size:20pt; letter-spacing:1px}

p#nombre {font-family:Encode Sans; text-align: center; font-size:12pt}

p.tit {font-family:Encode Sans; text-align: center; font-size:13pt; width: 100%}

p.tit2 {font-family:Encode Sans; text-align: center; font-size:13pt; width: 100%; color: white}

.boton {font-family:Encode Sans; font-size:10pt; font-weight:bold; color: RGB(55,187,237); border: 1px solid RGB(55,187,237)}

.boton:hover {background-color:RGB(55,187,237); color: white}

.boton:active {background-color:navy; color: white}

.boton2 {font-family:Encode Sans; font-size:10pt; font-weight:bold; color:white; width: 50%; left:10%;}

.boton2:hover {background-color:white; color: RGB(55,187,237)}

#filtro, .filtro_graf {font-family:Encode Sans;}

.Select-control {background-color:lightblue}

.titulo {font-family:Encode Sans; color:white; font-weight:bold; text-align: left; font-size:13pt; text-decoration:underline}